version: '3.8'

services:
  # backend
  backend:
    build: ./backend
    ports:
      - "5000:5000"
    volumes:
      - ./backend:/app       
    environment:
      - GOOGLE_API_KEY=AIzaSyD2PIPkJR0VYgyhQhXFkAibh_d_c-HiHkc 
  # frontend React
  frontend:
    build: ./frontend
    ports:
      - "3000:3000"  
    volumes:
      - ./frontend:/app         
      - /app/node_modules      
    stdin_open: true    # uso stdin e tty cosi vedo live le modifiche        
    tty: true                   
    depends_on:
      - backend